<div class='container-fluid'>
  <div class='row'>
    <div class='pending-home employee-blocks'>
      <h3>Pending  You confirmation </h3>
      <%= render 'pending_audit_confirmations' %>
    </div>
    <div class='col-md-10 column jumbotron employee-blocks'>
      ñkajalkjs
    </div>
  </div>
</div>